DATABASE_TYPE= 'postgres'
DATABASE_HOST= 'localhost'
DATABASE_PORT= 5432
DATABASE_USERNAME= 'postgres'
DATABASE_DATABASE= 'postgres'
DATABASE_PASSWORD= '123456'
DATABASE_AUTOLOADENTITIES= 1 
DATABASE_SYNCHRONIZE= 1 

JWT_SECRET=Essa seria a minha senha ou secret do JWT 123456
JWT_TOKEN_AUDIENCE=http://localhost:3000
JWT_TOKEN_ISSUER=http://localhost:3000
JWT_TTL=3600
JWT_REFRESH_TTL=86400

# EMAIL
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=